jupyter-book
matplotlib
numpy
pandas
seaborn
scipy
bokeh
networkx
google-generativeai
sphinx-exercise
scikit-learn
statsmodels
torch
transformers
huggingface_hub
ipywidgets>=8
jupyterlab_widgets>=3
statwrap